/* src/components/Game.css */

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(2, 20vw);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.grid-button {
    width: 20vw;
    height: 20vw;
    border: none;
    cursor: pointer;
}

#red {
    background-color: var(--red-600);
}

#red:hover, #red.flash {
    background-color: var(--red-500);
}

#red:active {
    background-color: var(--red-400);
}

#blue {
    background-color: var(--blue-600);
}

#blue:hover, #blue.flash {
    background-color: var(--blue-500);
}


#blue:active {
    background-color: var(--blue-400);
}


#yellow {
    background-color: var(--yellow-400);
}

#yellow:hover, #yellow.flash {
    background-color: var(--yellow-300);
}

#yellow:active {
    background-color: var(--yellow-200);
}

#green {
    background-color: var(--green-700);
}

#green:hover, #green.flash {
    background-color: var(--green-600);
}

#green:active {
    background-color: var(--green-500);
}

