.menu-button {
    all: unset;
    cursor: pointer;

    height: 3rem;
    width: auto;

    margin: 2rem 1rem;

    position: absolute;
    z-index: 100;
}

.menu-button svg {
    height: 100%;
    width: auto;
}

.p-datatable .p-datatable-thead > tr > th > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}

.p-sidebar-content {
    display: flex;
    flex-direction: column;
}

.about {
    margin-top: auto;
}