.menu-button {
    all: unset;
    cursor: pointer;

    height: 3rem;
    width: auto;

    margin: 2rem 1rem;

    position: absolute;
    z-index: 100;
}

.menu-button svg {
    height: 100%;
    width: auto;
}